
$main_background_color: #0f0f0f;

.page-base {
  height: 100vh;
  color: white;
  background-color: $main_background_color;
  width: 100%;
  position: relative;

  .loading-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: grid;
    place-items: center;
    background-color: $main_background_color;
    opacity: 0.1;
  }
}
