.city-weather-screen-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  color: white;

  .go-to-back-button {
    margin: 1.6rem;
    a {
      font-size: 1.2rem;
      color: white;
      svg {
        transform: scaleX(1.15);
      }
    }
  }

  .city-weather-info-container {
    margin-top: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    .city-name {
      font-weight: 100;
      font-size: 1.9rem;
      letter-spacing: 0.2rem;
      text-transform: uppercase;
    }

    .main-weather {
      font-weight: 100;
      font-size: 1.4rem;
      letter-spacing: 0.1rem;
      opacity: 0.95;
      text-transform: lowercase;
    }
    .title {
      font-weight: 100;
      font-size: 1.9rem;
      letter-spacing: 0.2rem;
      text-transform: uppercase;
    }

    .subtitle {
      font-weight: 100;
      font-size: 1.4rem;
      letter-spacing: 0.1rem;
      opacity: 0.95;
    }

    .temperature-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      height: 5.5rem;
      font-weight: 100;
      margin-top: 2rem;

      > div {
        &:first-child {
          font-size: 6.5rem;
        }

        &:nth-child(2) {
          margin-left: 0.2rem;
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          justify-content: space-between;
          height: 100%;

          > div {
            &:first-child {
              font-size: 1.5rem;
            }

            &:nth-child(2) {
              display: flex;
              flex-direction: column;
              opacity: 0.95;

              div {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
              }
            }
          }
        }
      }
    }

    .current-weather-icon {
      font-size: 9rem;
      margin: 2.5rem 0;
    }

    .subitens-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 90%;
      max-width: 381px;
      opacity: 0.95;

      .subitem {
        font-size: 0.9rem;
        display: flex;
        flex-direction: column;
        padding: 0rem;
        align-items: center;

        * {
          padding: 0.4rem 0;
        }
      }

      .divider {
        border-right: 1px solid white;
        height: 2rem;
      }
    }
  }

  .subweather-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    max-width: 381px;

    .subweather-item {
      display: flex;
      flex-direction: column;
      margin: 1rem 0;
      align-items: center;

      * {
        padding: 0.3rem 0;
      }

      div {
        opacity: 0.95;
        font-weight: 100;

        &:nth-child(3) {
          font-size: 1.4rem;
        }
      }

      i {
        font-size: 3rem;
      }
    }
  }

  .error-message-container {
    text-align: center;
    font-size: 150%;
    margin-top: 4rem;
  }
}
