@import 'open-weather-icons/dist/css/open-weather-icons.css';

body {
    font-family: 'Open Sans', sans-serif;;
    background-color: #A6A6A6;
    margin: 0;
    padding: 0;
}

.app-content-container {
    width: 100%;
    max-width: 900px;
    height: 100vh;
    margin: 0 auto;
    background-color: white;
}